{#
/**
 * @file
 * Default theme implementation for a fieldgroup html element.
 *
 * Available variables:
 * - title: Title of the group.
 * - children: The children of the group.
 * - attributes: A list of HTML attributes for the group wrapper.
 * - button: Return HTML button.
 * - modal_drupal: Used drupal modal or not.
 *
 * @see template_preprocess_field_group_modal_bootstrap()
 *
 * @ingroup themeable
 */
#}
<div {{ attributes }}>
  <button type="button" class="btn {{ button.class }}" data-bs-toggle="modal" data-bs-target="#{{ id }}">
    {{ button.title }}
  </button>
  <div id="{{ id }}" class="modal fade" tabindex="-1" aria-labelledby="{{ id }}ModalLabel" aria-hidden="true" role="dialog">
    <div class="modal-dialog {{ dialog_width }}">
      <div class="modal-content">
        <div class="modal-header">
          {% if title %}
            <h5 class="modal-title" id="{{ id }}ModalLabel">{{ title }}</h5>
          {% endif %}
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{{ 'Close'|t }}"></button>
        </div>
        <div class="modal-body">
          {{ children }}
        </div>
        {% if footer %}
        <div class="modal-footer">
          {{ footer }}
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ 'Close'|t }}</button>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
