{% set classes = ['multistep'] %}
<div{{ attributes.addClass(classes) }}>
  {% if label is not empty and show_step_title %}
    <h5>{{ label }}</h5>
  {% endif %}

  {% if top_button %}
    <div class="d-flex justify-content-between">
      <button type="button" class="btn-prev btn btn-primary" style="display: none;"><i class="bi bi-chevron-left"></i> {{ back_button_text }}</button>
      <button type="button" class="btn-next btn btn-primary">{{ next_button_text }} <i class="bi bi-chevron-right"></i></button>
    </div>
  {% endif %}

  {% if show_step_progress is not empty %}
  <div class="progress position-relative">
    <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="0" role="progressbar"
         class="progress-bar progress-bar-striped progress-bar-animated bg-primary"
         style="width: 0%"></div>
    {% if steps %}
      <div class="container-fluid position-absolute">
        <div class="step-container d-flex justify-content-between">
          {% for index,item in steps %}
            <div class="step-circle badge rounded-pill text-bg-primary" onclick="displayStep({{ index }})" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ item }}">{{ index }}</div>
          {% endfor %}
        </div>
      </div>
    {% endif %}
  </div>
  {% endif %}

  <div class="steps-container">
    {{ children }}
  </div>
  {% if top_button == false %}
    <div class="d-flex justify-content-between">
      <button type="button" class="btn-prev btn btn-primary" style="display: none;"><i class="bi bi-chevron-left"></i> {{ back_button_text }}</button>
      <button type="button" class="btn-next btn btn-primary">{{ next_button_text }} <i class="bi bi-chevron-right"></i>
      </button>
    </div>
  {% endif %}
</div>
